
@{
    ViewBag.Title = "CharityListings";
}

<h2>Current Listings</h2>

<div>
    <hr />
    
    <table>
        <tr>
            <th> Food Name </th>
            <th> Quantity </th>
            <th> Unit Scale </th>
            <th> Quality </th>
            <th> Select </th>
        </tr>
        <tr>
            <td><input type="text" id="txtContents"/></td>
            <td><input type="text" id="txtQuantity" /></td>
            <td><input type="text" id="txtScale" /></td>
            <td><input type="text" id="txtQuality"/></td>
            <td><input id="CharSelect" type="checkbox" /></td>
        </tr>
    </table>
</div>

 <div>
<input id="btnSelect" type="submit" value="Submit" />
<input id="btnCancel" type="button" value="Return" onclick="location.href='@Url.Action("Home", "FoodAid")';return false;"/>
 </div>


