
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    
    <div style="text-align:center">
        <h2>Welcome</h2>
        <br />
        <p>Here at the FoodAid Organisation we aim to redirect all edible produce to communities who require food assistance.</p>
        <br />
        <p>Farmers, use this platform to redirect your produce.</p>
        <br />
        <p>Charities, use this platform to collect produce.</p>
        <br />
        <p>Communities use this platform to redirect produce.</p>
        <br />
        <p>Let’s all aim to ensure nobody goes to bed hungry!</p>

    </div>
</body>